<div layout-fill ng-controller="MainController as vm">

  <md-content style="background: repeat-y;">
    <div class="panda">
      <div class="ear"></div>
      <div class="face">
        <div class="eye-shade"></div>
        <div class="eye-white">
          <div class="eye-ball"></div>
        </div>
        <div class="eye-shade rgt"></div>
        <div class="eye-white rgt">
          <div class="eye-ball"></div>
        </div>
        <div class="nose"></div>
        <div class="mouth"></div>
      </div>
      <div class="body"> </div>
      <div class="foot">
        <div class="finger"></div>
      </div>
      <div class="foot rgt">
        <div class="finger"></div>
      </div>
    </div>
    <form>
      <div class="hand"></div>
      <div class="hand rgt"></div>
      <h1>Captcha Solver</h1>
      <h7 layout="row" layout-margin class="_md-subheader-content">Enter the name of the object that does not correspond to the images on the left</h7>

      <div layout="row" layout-align="start center" ng-repeat="data in vm.data">
        <div flex="70" layout="row" layout-align="start start">
          <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
            <img height="50"  width="100" src="/uploads/{{data.src}}">
          </md-whiteframe>
        </div>
        <h7 flex="30" class="blur">
          {{data.object}}
        </h7>
      </div>

      <div layout="row" layout-margin layout-align="center center">
        <div class="form-group" flex="75">
          <input id="object" autocomplete="off" ng-model="vm.name" type="text" required="required" class="form-control"/>
          <label class="form-label">Enter the name of incorrect object</label>
          <p class="alert" id="alert">{{vm.alert}}</p>
          <button type="button" class="btn" ng-click="vm.generateObjects()">Generate </button>
          <button class="btn" id="solve">Solve </button>
        </div>
      </div>
    </form>

  </md-content>

</div>
